body {
    background: url("images/clouds-1117607_1920.jpg") no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    font-family: 'Indie Flower', cursive;
}

.titles{
    font-size: 2em;
    font-weight: bold;
    text-align: center;
}

.details, .sun, .temps{
    font-weight: bold;
    font-size: 18px;
    text-align: left;
    padding-left: 1em;
}

#desc, #srise, #high{
    padding-right: 5em;
}

.page-header, .inputWrapper {
    text-align: center;
}

#enterCity {
    width: 40%;
}

#userInput {
    font-weight: bolder;
    font-size: 25px;
}

.jumbotron {
    background: rgba(255, 255, 242, 0.5); 
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    padding-top: 5px;
    height: 210px;
}

.btn-md{
    width: 10%;
    font-weight: bold;
    font-size: 18px;
}

.data{
    background-color: rgba(255, 255, 242, 0.5);
    border: solid lightgray;
    border-radius: 1em;
}

.images {
    height: 42px; 
    width: 42px;
}

.mainInfo {
    font-size: 26px;
}

.imageMain{
    height: 50px; 
    width: 50px;
}
